/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: 0 auto;
}

.buttonResponse{
	width: 300px;
}

.question {
	background-color: rgba(146, 146, 146, 0.1);
	font-size: 1.2em;
	padding: 10px;
	border-radius: 10px;
}

.difficulty {
	font-style: italic;
}

.goodAnswer{
	background-color: #4BC827;
}

.badAnswer{
	background-color: #d43146;
}